@font-face {
    font-family: "Eurostile";
    src: url("assets/fonts/EurostileExtendedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "OCR-B";
    src: url("assets/fonts/OCR-B.ttf") format("truetype");
}

* {margin: 0;
padding: 0;
box-sizing: border-box;
}

#inicio {
    min-height: 100vh;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url("/assets/imagenes/delta/delta-02.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

body {
background-color: #050505;
}

#titulo {
    font-family: "Eurostile", sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
}

#navegador {
    text-align: center;
}

#navegador ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}
#navegador a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: "Eurostile", sans-serif;
    font-size: 30px;
    color: #F0EEF5;
    text-decoration: none;

    border: 2px solid #333333;
    padding: 10px 20px;
    border-radius: 8px;
}

#navegador a img {
    width: 35px;
    height: 25px;
    object-fit: cover;
}

#navegador a:visited,
#navegador a:hover,
#navegador a:active {
    font-family: "Eurostile", sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
}